# ==============================
# Environment variables example
# ==============================

# Development
DEBUG=True

# Security (cambia esto en local/producción)
SECRET_KEY=change-me

# Hosts allowed
ALLOWED_HOSTS=*

# ==============================
# Database (MySQL - XAMPP localhost)
# User: root | Password: empty
# Port: 3307
# Database: healthanalyticsips_db
# ==============================
DATABASE_URL=mysql://root:@127.0.0.1:3307/healthanalyticsips_db

